@charset "utf-8";

/* common */

:root {
  --color-main: #01b9ea;
  --color-text-primary: #606060;
  --color-text-secondary: #fff;
  --color-text-third: #01b9ea;
  --color-text-forth: #f2f2f2;
  --color-text-fifth: #a9b5c9;
  --color-text-shadow: #fff;
  --color-bg-primary: #358bdb;
  --color-bg-secondary: #01b9ea;
  --color-bg-third: #f6f6ff;
  --color-bg-forth: #f3f4fd;
  --color-bg-fifth: #edfafe;
  --color-bg-sixth: #ebf5ff;
  --color-bg-seventh: #439ef2;
  --color-btn-primary: #01b9ea;
  --color-btn-secondary: #358bdb;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  color: var(--color-text-primary);
  transition: all 0.4s;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

li,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.Responsive {
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
}

@media screen and (max-width: 1199px) {
  .Responsive {
      padding: 0 16px;
  }
}

/* END: common */
