/* Header */

.Header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1; /* root: Hero */
}

.Header-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.Header-head-toggle {
  display: none;
  width: 30px;
  position: absolute;
  left: 0;
}

.Header-head-toggle__line {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  transition: all 0.3s;
  background-color: #454545;
}

.Header-head-toggle__line:last-child {
  width: 10px;
  margin-bottom: 0;
}

.Header-head-toggle__line:nth-child(2) {
  width: 20px;
}

.Header > .Responsive {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-head-logo {
  padding: 34px 0;
}

.Header-head-logo__img {
  width: auto;
  display: block;
  height: 32px;
  object-fit: cover;
}

.Header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-nav-list-item {
  padding: 10px 15px;
}

.Header-nav-list-item__lnk {
  color: #454545;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.Header-nav-list-item--highlight > .Header-nav-list-item__lnk {
  font-weight: 700;
}

.Header-nav-list-item__lnk::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: var(--color-main);
}

.Header-nav-list-item:not(:last-child)
  > .Header-nav-list-item__lnk:hover::after,
.Header-nav-list-item--highlight > .Header-nav-list-item__lnk::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Header-nav-list-item--jp {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.Header-nav-list-item--jp .Header-nav-list-item__lnk {
  border: 1px solid rgba(69, 69, 69, 0.2);
  border-radius: 4px;
  display: inline-block;
  padding: 5px 15px;
}

.Header-nav-list-item--jp .Header-nav-list-item__lnk:hover {
  color: var(--color-main);
  border-color: var(--color-main);
  transition: all 0.2s linear;
}

.Header-nav-list-item:hover .Header-nav-list-item-sup {
  display: block;
}

.Header-nav-list-item-sup {
  display: none;
  margin-top: 10px;
  position: absolute;
  box-shadow: 12px 12px 24px #0000001a;
  border-radius: 4px;
  background-color: var(--color-text-secondary);
  min-width: 180px;
}

.Header-nav-list-item-sup-type:first-child {
  padding: 24px 15px 10px;
}

.Header-nav-list-item-sup-type:not(:first-child) {
  padding: 0 15px 10px;
}

.Header-nav-list-item-sup-type__lnk {
  color: #333;
  font-weight: 400;
  transition: all 0.2s linear;
}

.Header-nav-list-item-sup-type__lnk:hover {
  color: var(--color-main);
}

.Header--fixed {
  position: fixed;
  box-shadow: 2px 2px 4px 0 rgba(10, 2, 4, 0.2);
  background-color: #2f5aa8;
  z-index: 10; /* root: .Outsource-inner */
  height: 70px;
}

.Header--fixed .Header-head-logo {
  padding: 0;
}

.Header-head-logo__img--fixed {
  display: none;
}

.Header--fixed .Header-head-logo__img {
  display: none;
}

.Header--fixed .Header-head-logo__img--fixed {
  display: block;
}

.Header--fixed .Header-nav-list-item__lnk {
  color: #fff;
}

.Header--fixed .Header-nav-list-item--jp .Header-nav-list-item__lnk {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1199px) {
  .Header > .Responsive {
    display: block;
  }

  .Header-head {
    position: relative;
    height: 100%;
    justify-content: center;
  }

  .Header-head-toggle {
    display: block;
  }

  .Header-nav {
    display: none;
  }

  .Header--fixed .Header-head-toggle__line {
    background-color: #fff;
  }
}

@media screen and (max-width: 575px) {
  .Header-head-logo__img {
    height: 27px;
  }
}

/* END: Header */

/* Sidebar */

.Sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: -10; /* root: body */
  visibility: hidden;
  opacity: 0;
}

.Sidebar--is-open {
  z-index: 10; /* root: .Header--fixed */
  visibility: visible;
  opacity: 1;
}

.Sidebar--is-open .Wrapper {
  transform: translateX(0);
}

.Sidebar-menu {
  flex: 1;
}

.Sidebar-head-logo {
  padding: 0;
}

.Sidebar-head-toggle__line {
  background-color: #fff;
}

.Sidebar-head-toggle__line:first-child {
  margin: 0;
  width: 33px;
  transform: rotate(45deg) translate(4px, 10.5px);
}

.Sidebar-head-toggle__line:last-child {
  width: 33px;
  transform: rotate(-45deg) translate(-3px, -3.5px);
}

.Wrapper {
  transform: translateX(-100%);
  max-width: 325px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: #2f5aa8;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Sidebar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
  height: 70px;
}

.Sidebar-menu-list-item {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 16px;
}

.Sidebar-menu-list-item__lnk,
.Sidebar-menu-list-item-sup-type__lnk {
  font-weight: 400;
  color: #fff;
  display: block;
  line-height: 1.4;
  cursor: pointer;
}

.Sidebar-menu-list-item--highlight > .Sidebar-menu-list-item__lnk {
  color: var(--color-main);
}

.Sidebar-menu-list-item-arw--show .Sidebar-menu-list-item__lnk {
  font-weight: 700;
}

.Sidebar-menu-list-item-sup {
  display: none;
  margin-top: 16px;
  height: 0;
  opacity: 0;
  transition: all 0.4s;
}

.Sidebar-menu-list-item-arw--show .Sidebar-menu-list-item-sup {
  display: block;
  height: auto;
  opacity: 1;
}

.Sidebar-menu-list-item-sup-type {
  border-bottom: unset;
  padding: 10px 0;
}

.Sidebar-menu-list-item-sup-type__lnk {
  margin-left: 16px;
  transition: all 0.2s linear;
  display: inline-block;
  position: relative;
}

.Sidebar-contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #09193233;
}

.Sidebar-contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.Sidebar-contact-email-content {
  margin-left: 9px;
}

.Sidebar-contact-email-content__ttl {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  transition: all 0.2s linear;
}

.Sidebar-contact-email-content__txt {
  font-weight: 700;
  color: #fff;
  transition: all 0.2s linear;
}

.Sidebar-contact-social {
  padding: 9px 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.Sidebar-contact-social__lnk:first-child {
  margin-bottom: 10px;
}

.Sidebar-contact-social__lnk {
  display: block;
  transition: all 0.2s linear;
}

.Sidebar-contact-social__lnk:hover {
  opacity: 0.7;
}

.Sidebar-menu-list-item-arw {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  display: block;
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  text-align: right;
}

.Sidebar-menu-list-item-arw {
  transition: all 0.2s linear;
}

.Sidebar-menu-list-item-arw--show .Sidebar-menu-list-item-arw__ico {
  transform: rotate(180deg);
}

.Sidebar-menu-list-item-arw--show .Header-menu-list-item__lnk {
  font-weight: 700;
}

.Sidebar-head-toggle__line {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  transition: all 0.3s;
  background-color: #fff;
}

@media screen and (max-width: 1199px) {
  .Sidebar {
    display: block;
  }

  .Sidebar-head {
    justify-content: space-between;
    position: relative;
  }

  .Sidebar-head-toggle {
    display: block;
    position: unset;
    width: 24px;
    height: 24px;
  }

  .Sidebar-head-toggle__line:nth-child(2) {
    opacity: 0;
  }
}

/* END: Sidebar */

/* Hero */

.Hero {
  height: 100vh;
  min-height: 641px;
  overflow: hidden;
  position: relative;
}

.Hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* root: .Hero */
}

.Hero-bg__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Hero-bg-night {
  position: absolute;
  width: 100%;
  height: 50vh;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1120px;
}

.Hero-bg-night-item {
  transform: rotateZ(-90deg);
  position: absolute;
  left: 10%;
  bottom: 0;
}

.Hero-bg-night-item__star {
  position: absolute;
  left: 50%;
  bottom: 20px;
  height: 2px;
  background: linear-gradient(-45deg, #b0d7ed, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #b0d7ed);
  animation: tail 3500ms ease-in-out infinite,
    shooting 3500ms ease-in-out infinite;
  animation-delay: 3000ms;
}

.Hero-bg-night-item__star::before,
.Hero-bg-night-item__star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 20px;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #b0d7ed,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3500ms ease-in-out infinite;
  animation-delay: 3000ms;
}

.Hero-bg-night-item__star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.Hero-bg-night-item:nth-child(2) {
  left: 30%;
  bottom: 5vh;
}

.Hero-bg-night-item:nth-child(3) {
  left: 60%;
  bottom: 5vh;
}

.Hero-bg-night-item:last-child {
  left: 95%;
  bottom: 0;
}

.Hero-bg-night-item:nth-child(2) .Hero-bg-night-item__star,
.Hero-bg-night-item:nth-child(2) .Hero-bg-night-item__star::before,
.Hero-bg-night-item:nth-child(2) .Hero-bg-night-item__star::after {
  animation-delay: 4000ms;
}

.Hero-bg-night-item:nth-child(3) .Hero-bg-night-item__star,
.Hero-bg-night-item:nth-child(3) .Hero-bg-night-item__star::before,
.Hero-bg-night-item:nth-child(3) .Hero-bg-night-item__star::after {
  animation-delay: 3500ms;
}

.Hero-bg-night-item:last-child .Hero-bg-night-item__star,
.Hero-bg-night-item:last-child .Hero-bg-night-item__star::before,
.Hero-bg-night-item:last-child .Hero-bg-night-item__star::after {
  animation-delay: 4300ms;
}

.Hero-inner {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 2; /* root: Hero-bg */
}

.Hero-inner-wrap {
  max-width: 550px;
}

.Hero-inner-wrap__ttl {
  font-size: 60px;
  color: #358bdb;
  margin-bottom: 30px;
  line-height: 1;
  font-weight: 900;
}

.Hero-inner-wrap__txt {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  color: #454545;
}

.Hero-inner-wrap-btn {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  gap: 16px;
}

.Video-btn {
  position: relative;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.Video-btn-mark .Video-btn-mark__pulse::before,
.Video-btn-mark .Video-btn-mark__pulse::after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 3px solid #fc7561;
  animation: zoomBig 3.25s linear infinite;
}

.Video-btn-mark .Video-btn-mark__pulse::after {
  animation-delay: 0.75s;
}

.Video-btn-click {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Video-btn-click-play {
  width: 36px;
  height: 36px;
  background: #fc7561;
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}

.Video-btn-click-play__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 1px;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Video-btn-click-play__ico::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 17px solid #fff;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-left-width: 13px;
  border-left-color: #fff;
}

.Video-btn-item {
  position: relative;
  border-radius: 21px;
  min-width: 180px;
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: var(--color-main);
  border: 1px solid var(--color-bg-secondary);
  box-shadow: 0 4px 15px 0 rgba(1, 185, 234, 0.5);
}

.Video-btn-item-url {
  width: auto;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Video-btn-item-url-ico {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(53px, -42%);
}

.Video-btn-item-url-ico__img {
  width: 18px;
  height: auto;
}

.Video-btn-item-url__lnk {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 7px 13px 7px 75px;
  text-align: left;
}

.Hero-inner-wrap-certificate {
  display: flex;
  gap: 17px;
}

.Hero-inner-wrap-certificate__img {
  width: 157px;
  height: 87px;
  border-radius: 13px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.Hero-inner-wrap-certificate__img > img {
  max-height: 44px;
}

@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    border-width: 3px;
  }

  40% {
    opacity: 0.5;
    border-width: 2px;
  }

  65% {
    border-width: 1px;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 200px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vh);
  }
}

@media screen and (max-width: 1023px) {
  .Hero-inner-wrap__ttl {
    font-size: 42px;
    margin-bottom: 21px;
  }

  .Hero-inner-wrap__txt {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .Video-btn-item-url {
    font-size: 14px;
  }

  .Hero-inner-wrap-certificate__img {
    padding: 2px;
    width: 110px;
    height: 50px;
    border-radius: 6px;
  }

  .Hero-inner-wrap-btn {
    margin-bottom: 35px;
  }

  .Hero {
    height: 50vh;
  }
}

@media screen and (max-width: 767px) {
  .Hero {
    min-height: 512px;
  }

  .Hero-bg {
    display: none;
  }

  .Hero-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .Hero-inner-wrap__ttl,
  .Hero-inner-wrap__txt {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .Hero {
    height: 375px;
    min-height: 375px;
  }

  .Hero-inner-wrap__ttl {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .Hero-inner-wrap__txt {
    margin-bottom: 21px;
  }

  .Hero-inner-wrap-btn {
    margin-bottom: 21px;
  }

  .Hero-inner-wrap-certificate__img {
    width: 80px;
    height: 40px;
  }

  .Hero-inner-wrap-certificate__img > img {
    width: 59px;
    height: auto;
  }
}

/* END: Hero */

/* Fact */

.Fact {
  position: relative;
  margin-top: -15vh;
}

.Fact__bg {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.Fact-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.Fact-counter-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.Fact-counter-list-item-num {
  font-weight: 700;
  font-size: 110px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-align: center;
}

.Fact-counter-list-item-ttl {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .Fact {
    margin-top: -10vh;
  }

  .Fact-counter-list-item-num {
    font-size: 80px;
    -webkit-text-stroke: 0.7px #fff;
  }

  .Fact-counter-list-item-ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .Fact {
    margin-top: -7vh;
  }

  .Fact-counter-list-item-num {
    font-size: 56px;
    -webkit-text-stroke: 0.5px #fff;
  }

  .Fact-counter-list-item-ttl {
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .Fact-counter-list-item-num {
    font-size: 30px;
  }
}

/* END: Fact */

/* Feature */

.Feature {
  padding: 75px 0 0;
  overflow-x: hidden;
}

.Feature-inner {
  display: flex;
  align-items: center;
}

.Feature-inner-content {
  width: 50%;
}

.Section-ttl {
  position: relative;
  color: var(--color-text-primary);
  font-size: 40px;
  font-weight: 400;
  display: inline-block;
  padding-top: 50px;
}

.Section-ttl--middle {
  text-align: center;
}

.Section-ttl--middle .Section-ttl__head {
  left: 50%;
  transform: translateX(-50%);
}

.Section-ttl__sub--highlight {
  color: var(--color-main);
}

.Section-ttl__head {
  -webkit-text-stroke: 1px var(--color-text-fifth);
  color: transparent;
  font-size: 80px;
  white-space: nowrap;
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* root: .Section-ttl__sub */
  line-height: 1;
}

.Feature-inner-content__txt {
  margin: 30px auto 50px;
}

.Feature-inner__img {
  width: 50%;
  margin-left: 12px;
}

@media screen and (max-width: 1023px) {
  .Feature-inner {
    width: 70%;
    margin: 0 auto;
    flex-direction: column-reverse;
  }

  .Feature-inner-content {
    margin-top: 35px;
    width: 100%;
  }

  .Feature-inner__img {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .Feature {
    padding: 38px 0 30px;
  }

  .Feature-inner {
    width: 86%;
  }

  .Feature-inner-content {
    margin-top: 35px;
    width: 100%;
  }

  .Feature-inner__img {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .Feature-inner {
    width: 100%;
  }

  .Feature-inner-content {
    margin-top: 50px;
  }

  .Feature-inner__img {
    width: 100%;
    margin-left: 0;
  }

  .Section-ttl {
    font-size: 25px;
    padding-top: 0;
  }

  .Section-ttl__head {
    font-size: 40px;
    top: -24px;
  }

  .Feature-inner-content__txt {
    font-size: 14px;
    margin: 15px auto 20px;
  }
}

/* END: Feature */

/* Outsource */

.Outsource {
  padding: 75px 0 85px;
}

.Outsource-inner {
  position: relative;
}

.Outsource-inner-wrap {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 50px 0;
}

.Outsource-inner-wrap__img {
  position: absolute;
  width: 641px;
  left: 0;
  z-index: 1; /* root: .Outsource */
  top: 0;
}

.Outsource-inner-wrap-content {
  overflow: hidden;
  padding: 50px 50px 47px;
  background-color: #358bdb;
  border-radius: 8px;
  width: 641px;
  min-height: 735px;
  z-index: 2; /* root: .Outsource-inner-wrap__img */
}

.Section-ttl__sub--bg {
  color: #fff;
}

.Section-ttl__head--primary {
  -webkit-text-stroke: 1px var(--color-text-forth);
}

.Outsource-inner-wrap-content-accordion {
  margin: 50px auto 0;
  max-width: 500px;
}

.Outsource-inner-wrap-content-accordion-item {
  list-style: none;
  cursor: pointer;
}

.Outsource-inner-wrap-content-accordion-item-head {
  padding: 18px 22px;
  background: #439ef2;
  font-weight: 700;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.Outsource-inner-wrap-content-accordion-item__txt {
  max-height: 150px;
  overflow: auto;
  margin-bottom: 22px;
  padding-top: 2px;
  color: #fff;
  line-height: 22px;
  display: none;
  word-break: break-word;
  transition: all 0.4s;
}

.Outsource-inner-wrap-content-accordion-item-head__ico {
  transition: all 0.2s linear;
}

.Accordion--is-open .Outsource-inner-wrap-content-accordion-item-head {
  background: #01b9ea;
}

.Accordion--is-open .Outsource-inner-wrap-content-accordion-item-head__ico {
  transform: rotate(180deg);
  transition: all 0.2s linear;
}

.Accordion--is-open .Outsource-inner-wrap-content-accordion-item__txt {
  display: block;
}

.Outsource-meeting {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* root: .Outsource */
  background-image: url(../img/outsource_img_call.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  transform: translateY(100%);
}

.Outsource-meeting-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 64px;
}

.Outsource-meeting-wrap__txt {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.Outsource-meeting-wrap__btn {
  padding: 10px 21px;
  border: 1px solid #fff;
  border-radius: 21px;
  color: #fff;
  transition: all 0.2s linear;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (max-width: 1199px) {
  .Outsource-meeting {
    left: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .Outsource {
    padding-bottom: 75px;
  }

  .Outsource-inner-wrap {
    flex-direction: column;
    justify-content: center;
    padding: 0 0 35px;
    align-items: center;
  }

  .Outsource-inner-wrap__img {
    position: relative;
    padding: 0;
  }

  .Outsource-inner-wrap-content {
    width: 621px;
    margin-top: -100px;
    padding: 61px 19px;
    min-height: auto;
  }

  .Outsource-inner-wrap-content-accordion {
    max-width: 100%;
  }

  .Outsource-meeting-wrap {
    padding: 40px 50px;
  }

  .Outsource-meeting-wrap__txt {
    font-size: 21px;
  }
}

@media screen and (max-width: 991px) {
  .Outsource-meeting-wrap {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 767px) {
  .Outsource-inner-wrap-content {
    width: calc(100% - 20px);
    padding: 50px 19px 28px 19px;
  }
}

@media screen and (max-width: 575px) {
  .Outsource {
    padding: 0 0 50px 0;
  }

  .Outsource-inner-wrap-content .Section-ttl {
    margin-bottom: 30px;
  }

  .Outsource-inner-wrap-content-accordion {
    margin: 0;
  }

  .Outsource-inner-wrap-content-accordion-item-head {
    font-size: 14px;
    padding: 12px 13px;
  }

  .Outsource-inner-wrap-content-accordion-item__txt {
    font-size: 14px;
  }

  .Outsource-meeting-wrap {
    padding: 16px 30px;
  }

  .Outsource-meeting-wrap__txt {
    font-size: 14px;
  }

  .Outsource-meeting-wrap__btn {
    padding: 5px;
  }
}

/* END: Outsource */

/* Services */

.Services {
  padding: 143px 0 35px;
  background: #f6f6ff;
  overflow-x: hidden;
}

.Services-head {
  position: relative;
  z-index: 1; /* root: .Section-ttl__head */
  text-align: center;
  margin-bottom: 50px;
}

.Services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Services-wrapper-item {
  width: calc(50% - 12px);
  margin-bottom: 24px;
  position: relative;
  border-radius: 8px;
  background: #d6e8f9;
  overflow: hidden;
}

.Services-wrapper-item:hover::before {
  opacity: 0.6;
  transition: all 1s;
}

.Services-wrapper-item:hover::after {
  opacity: 1;
  transition: all 1s;
}

.Services-wrapper-item:hover .Services-wrapper-item-media__lnk {
  opacity: 1;
  height: 100%;
  transition: height 0.2s;
}

.Services-wrapper-item:hover .Services-wrapper-item-media-bg {
  transform: scale(1.1, 1.1);
}

.Services-wrapper-item:hover .Services-wrapper-item-media-desc__txt {
  opacity: 1;
  transition: all 2.7s;
  height: auto;
}

.Services-wrapper-item:hover .Services-wrapper-item-media-desc__ttl {
  display: none;
}

.Services-wrapper-item::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1; /* root: .Services */
  top: 0;
  left: 0;
  background: #358bdb;
  opacity: 0;
}

.Services-wrapper-item::after {
  content: '';
  left: 0;
  position: absolute;
  background: url(../img/service_img_bg.png);
  display: block;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70%;
  right: 0;
  opacity: 0;
}

.Services-wrapper-item-media {
  width: 100%;
}

.Services-wrapper-item-media-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  -o-object-fit: contain;
  object-fit: contain;
  transition: transform 1s;
  padding: 38px 42px 47px;
  height: 430px;
}

.Services-wrapper-item-media-bg__img {
  -o-object-fit: contain;
  object-fit: contain;
}

.Services-wrapper-item-media-desc {
  position: relative;
  width: 100%;
  height: 90px;
}

.Services-wrapper-item-media-desc__txt {
  display: block;
  position: absolute;
  z-index: 1 /* root: .Services */;
  font-weight: 400;
  font-size: 16px;
  opacity: 0;
  bottom: -15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  transition: all 0.7s;
  word-break: break-word;
  height: 0;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -45px);
}

.Services-wrapper-item-media-desc__ttl {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #454545;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1; /* root: .Services */
  overflow: hidden;
  margin: 0 auto;
  word-break: break-word;
  padding: 0 15px;
}

.Services-wrapper-item-media__lnk {
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  transform: translate(0, 0);
  top: 0;
  left: 0;
  z-index: 1; /* root: .Services */
}

@media screen and (max-width: 767px) {
  .Services-wrapper-item-media-bg {
    padding: 30px;
    height: 295px;
  }
}

@media screen and (max-width: 667px) {
  .Services {
    padding: 70px 0 35px;
  }

  .Services-wrapper-item {
    width: 100%;
  }

  .Services-wrapper-item-media-desc__txt {
    font-size: 14px;
  }
}

/* END: Services */

/* About */

.About {
  --color-background: #f3f4fd;
  padding: 70px 0;
  overflow-x: hidden;
}

.About-head {
  position: relative;
  z-index: 1; /* root: .About */
  text-align: center;
}

.About-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 70px -15px 0;
}

.About-wrapper-item {
  width: 33.33333%;
  padding: 0 12px;
  margin-bottom: 24px;
  text-align: center;
}

.About-wrapper-item-content {
  position: relative;
  border-radius: 24px;
  background-color: #edfafe;
  border: 1px solid #fff;
  padding: 45px 15px 60px;
  height: 100%;
  margin: 0;
}

.About-wrapper-item:first-child .About-wrapper-item-content {
  background-color: var(--color-background);
}

.About-wrapper-item:last-child .About-wrapper-item-content {
  background-color: #ebf5ff;
}

.About-wrapper-item-content-ico {
  height: 45px;
  text-align: center;
}

.About-wrapper-item-content-ico__img {
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

.About-wrapper-item-content-text__ttl {
  font-size: 20px;
  color: #606060;
  line-height: 24px;
  margin: 20px 0 14px;
}

.About-wrapper-item-content-text__sub {
  max-width: 268px;
  margin: 0 auto;
  color: #606060;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 767px) {
  .About-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 35px -15px 0;
  }

  .About-wrapper-item {
    width: 60%;
  }
}

@media screen and (max-width: 575px) {
  .About-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 35px -15px 0;
  }

  .About-wrapper-item {
    width: 100%;
  }
}

/* END: About */

.Study {
  background: #f6f6ff;
  overflow-x: hidden;
}

.Study-item {
  display: flex;
  color: #fff;
  background: #eef2f5;
}

.Study-item-content {
  width: 50%;
  background: var(--color-btn-secondary);
  padding: 30px 0 94px;
  display: flex;
  justify-content: flex-end;
}

.Study-item-content > .Wrap {
  width: 100%;
  max-width: calc(1120px / 2);
  padding-right: 50px;
}

.Study-item-content-head {
  position: relative;
  z-index: 1; /* root: .Study */
  margin-bottom: 22px;
}

.Study-item-content__desc {
  font-weight: 400;
  margin: 0 0 24px;
  line-height: 20px;
}

.Study-item-content__sub {
  font-weight: 700;
  color: #fff;
  padding-left: 0;
  margin-bottom: 24px;
  line-height: 1;
  font-size: 16px;
}

.Study-item-content-detail {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 36px;
  line-height: 20px;
  gap: 8px;
  flex-wrap: wrap;
}

.Study-item-content-detail-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 63px;
  height: 48px;
  border-radius: 8px;
  padding: 5px;
}

.Study-item-content-detail-ico__img {
  max-height: 38px;
  -o-object-fit: contain;
  object-fit: contain;
}

.Study-item-wrap {
  width: 50%;
  display: flex;
  background: #eef2f5;
  justify-content: flex-start;
  align-items: center;
  padding-left: 56px;
}

.Study-item-wrap-bg {
  width: 100%;
  max-width: var(--width-wrap-half);
  text-align: center;
}

.Study-item-wrap-bg__img {
  -o-object-fit: cover;
  object-fit: cover;
}

.Study-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.Study-item:nth-child(2n) .Study-item-content {
  background: #01b9ea;
  justify-content: flex-start;
}

.Study-item:nth-child(2n) .Study-item-wrap {
  justify-content: flex-end;
  padding-right: 56px;
}

.Study-item:nth-child(2n) .Study-item-content > .Wrap {
  padding-left: 50px;
  padding-right: 0;
}

@media screen and (max-width: 1199px) {
  .Study-item-content {
    padding: 30px 0 30px 16px;
  }
}

@media screen and (max-width: 991px) {
  .Study-item {
    flex-direction: column-reverse;
  }

  .Study-item-content {
    width: 100%;
    justify-content: center;
    padding-right: 16px;
  }

  .Study-item-content > .Wrap {
    max-width: 100%;
    padding-right: 0;
  }

  .Study-item-wrap {
    width: 100%;
    justify-content: center;
    padding: 30px 16px;
  }

  .Study-item-wrap-bg {
    max-width: 100%;
    text-align: center;
  }

  .Study-item:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .Study-item:nth-child(2n) .Study-item-content {
    padding-left: 16px;
  }

  .Study-item:nth-child(2n) .Study-item-content > .Wrap {
    padding-left: 0;
  }

  .Study-item:nth-child(2n) .Study-item-wrap {
    padding-right: 16px;
  }
}

@media screen and (max-width: 575px) {
  .Study-item-content {
    padding-top: 42px;
  }
}

/* END: Study */

/* Feedback */

.Feedback {
  background-color: #f2f5fa;
  padding: 70px 0;
  overflow-x: hidden;
}

.Feedback-wrap {
  display: flex;
}

.Feedback-wrap-bg {
  padding-right: 64px;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}

.Feedback-wrap-bg__img {
  width: 95%;
  max-width: 422px;
}

.Feedback-wrap-content {
  width: 50%;
  padding-left: 27px;
}

.Feedback-wrap-content-head {
  position: relative;
  z-index: 1; /* root: .Feedback */
  margin-bottom: 35px;
}

.Feedback-wrap-content-item__txt {
  margin-bottom: 30px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 20px;
}

.Feedback-wrap-content-item-author {
  position: relative;
  display: flex;
  align-items: center;
}

.Feedback-wrap-content-item-author::before {
  content: '';
  background-image: url(../img/feedback_ico.png);
  position: absolute;
  height: 63px;
  width: 90px;
  top: 50%;
  right: 20px;
  opacity: 0.2;
  transform: translateY(-50%);
}

.Feedback-wrap-content-item-author__img {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin-right: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.Feedback-wrap-content-item-author__name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.Feedback-wrap-content .slick-dots {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 37px;
  align-items: flex-start;
  text-align: left;
  bottom: -40px;
  margin-left: -7px;
}

.Feedback-wrap-content .slick-dots .slick-active {
  border: 1px solid #01b9ea;
  border-radius: 50%;
}

.Feedback-wrap-content .slick-dots > li {
  width: 14px;
  height: 14px;
  margin: 0 7px;
}

.Feedback-wrap-content .slick-dots > li > button {
  padding: 0;
}

.Feedback-wrap-content .slick-dots > li > button::before {
  background: #a9b5c9;
  top: 50%;
  left: 50%;
  opacity: 1;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.Feedback-wrap-content .slick-dots .slick-active > button::before {
  background: #01b9ea;
}

@media screen and (max-width: 767px) {
  .Feedback-wrap {
    flex-direction: column;
    align-items: center;
  }

  .Feedback-wrap-bg {
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .Feedback-wrap-bg__img {
    width: 71%;
  }

  .Feedback-wrap-content {
    width: 100%;
    padding: 0;
    margin-top: 70px;
  }

  .Feedback-wrap-content-item__txt {
    font-size: 14px;
  }

  .Feedback-wrap-content .slick-dots {
    justify-content: center;
  }
}

/* END: Feedback */

/* Clients */

.Clients {
  padding: 70px 0;
  background: #fff;
  overflow-x: hidden;
}

.Clients-head {
  position: relative;
  z-index: 1; /* root: .Clients */
  text-align: center;
}

.Clients-brand {
  display: flex;
  margin: 60px -16px 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.Clients-brand-item {
  width: 20%;
  padding: 9px 20px;
}

.Clients-brand-item-bg {
  padding: 20px 10px;
  border: 1px solid #a9b5c9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #fff;
}

.Clients-brand-item-bg__img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 70px;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .Clients-brand-item {
    width: 25%;
  }
}

@media screen and (max-width: 567px) {
  .Clients-brand-item {
    width: 50%;
    padding: 9px 9px;
  }
}

/* END: Clients */

/* Leadership */

.Leadership {
  background: #f6f6ff;
  padding: 70px 0;
  overflow-x: hidden;
}

.Leadership-head {
  position: relative;
  z-index: 1; /* root: .Leadership */
  text-align: center;
}

.Leadership-bnr {
  display: flex;
  margin: 0 -13.5px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 70px 0 0;
}

.Leadership-bnr-item {
  width: 20%;
  padding: 0 13.5px;
  position: relative;
  margin-bottom: 50px;
  height: 100%;
}

.Leadership-bnr-item-bg {
  padding-top: 0;
  margin: 0;
  height: 265px;
}

.Leadership-bnr-item-bg__img {
  position: static;
  border: 1px solid #ffffff;
  border-bottom-left-radius: 40px;
  width: 100%;
  min-height: 265px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  height: 100%;
}

.Leadership-bnr-item-content {
  text-align: center;
}

.Leadership-bnr-item-content__ttl {
  color: #454545;
  font-size: 20px;
  margin: 17px 0 8px;
  font-weight: 700;
  line-height: 23px;
}

.Leadership-bnr-item-content__txt {
  color: #828282;
  font-weight: 400;
  font-size: 16px;
  word-break: break-word;
}

.Leadership-bnr .slick-dots {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.Leadership-bnr .slick-dots .slick-active {
  border: 1px solid #01b9ea;
  border-radius: 50%;
}

.Leadership-bnr .slick-dots > li {
  width: 14px;
  height: 14px;
  margin: 0 7px;
}

.Leadership-bnr .slick-dots > li > button {
  padding: 0;
}

.Leadership-bnr .slick-dots > li > button::before {
  background: #a9b5c9;
  top: 50%;
  left: 50%;
  opacity: 1;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.Leadership-bnr .slick-dots .slick-active > button::before {
  background: #01b9ea;
}

@media screen and (max-width: 768px) {
  .Leadership-bnr-item-bg {
    height: 315px;
  }
}

@media screen and (max-width: 567px) {
  .Leadership {
    padding: 50px 0 15px;
  }

  .Leadership-bnr {
    padding-top: 30px;
    margin: 0;
  }

  .Leadership-bnr-item {
    width: 50%;
    margin-bottom: 25px;
    padding: 0 9px;
  }

  .Leadership-bnr-item-bg {
    height: 355px;
  }

  .Leadership-bnr-item-content__ttl {
    font-size: 18px;
    line-height: 21px;
  }

  .Leadership-bnr-item-content__txt {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 475px) {
  .Leadership-bnr-item-bg {
    height: 265px;
  }
}

/* END: Leadership */

/* Footer */

.Footer {
  background-color: #0869c2;
  padding: 120px 0 47px;
}

.Footer-inner-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Footer-inner-info-item {
  color: #fff;
  display: flex;
  line-height: 20px;
  margin-bottom: 50px;
  width: 100%;
  justify-content: space-between;
}

.Footer-inner-info-item-content {
  width: 40%;
}

.Footer-inner-info-item-content:last-child {
  width: 49%;
}

.Footer-inner-info-item-content__ttl {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.Footer-inner-info-item-content-list-dtl {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
  padding-left: 32px;
  flex-direction: column;
}

.Footer-inner-info-item-content-list-dtl:last-child {
  margin-bottom: 0;
}

.Footer-inner-info-item-content-list-dtl__img {
  position: absolute;
  left: 0;
}

.Footer-inner-info-item-content-list-dtl__txt,
.Footer-inner-info-item-content-list-dtl__desc {
  line-height: 20px;
  word-break: break-word;
}

.Footer-inner-info-item-content-list-dtl__txt--highlight > a {
  color: #fff;
  font-weight: 700;
  transition: all 0.2s linear;
  cursor: pointer;
  pointer-events: inherit;
}

.Footer-inner-info-item-content-list-dtl__txt--highlight:hover > a {
  color: var(--color-main);
  transition: all 0.2s linear;
}

.Footer-inner-info-item-content-list-dtl__desc {
  padding-top: 18px;
}

.Footer-inner-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-inner-social-media {
  width: 50%;
}

.Footer-inner-social-media-list {
  display: flex;
  flex-wrap: wrap;
}

.Footer-inner-social-media-list-item {
  margin-right: 13px;
  transition: all 0.2s linear;
  margin-bottom: 5px;
}

.Footer-inner-social-media-list-item:hover {
  opacity: 0.7;
  transition: all 0.2s linear;
}

.Footer-inner-social-media-list__ico {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  min-width: 50px;
}

.Footer-inner-social-media-list__ico > i {
  color: #fff;
  font-size: medium;
}

@media screen and (max-width: 767px) {
  .Footer-inner-info {
    width: 100%;
  }

  .Footer-inner-info-item {
    flex-direction: column;
    gap: 33px;
  }

  .Footer-inner-info-item-content:first-child,
  .Footer-inner-info-item-content:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .Footer {
    padding: 33px 0 24px;
  }

  .Footer-inner-info-item-content__ttl {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .Footer-inner-info-item-content-list-dtl__txt {
    font-size: 14px;
  }

  .Footer-inner-social {
    flex-direction: column;
  }

  .Footer-inner-social-media {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
}

/* END: Footer */

/* Btn-login  */

.Btn-login {
  position: fixed;
  bottom: 100px;
  right: 15px;
  background: #e0f0ff;
  border: 1px solid #fff;
  border-radius: 31.5px;
  transition: 0.8s all;
  width: 61px;
  overflow: hidden;
}

.Btn-login:hover {
  background: #358bdb;
  border-radius: 30px;
  transition: width 0.5s, height 0.5s;
  width: 192px;
}

.Btn-login-lnk {
  display: flex;
  align-items: center;
  padding: 11px;
}

.Btn-login-lnk-ico {
  width: 37px;
  height: 37px;
  display: block;
}

.Btn-login-lnk-ico__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Btn-login-lnk-ico--active {
  display: none;
}

.Btn-login-lnk-ico-content {
  visibility: hidden;
  opacity: 1;
  width: 0;
  transition: 0.8s all;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  display: none;
  margin-bottom: 0;
}

.Btn-login-lnk-ico-content__ttl {
  font-weight: 700;
}

.Btn-login:hover .Btn-login-lnk-ico-content {
  display: block;
  visibility: visible;
  opacity: 1;
  width: max-content;
  transition: 0.8s all;
  margin: 0 7px;
}

.Btn-login:hover .Btn-login-lnk-ico-content__sub {
  display: block;
  font-weight: 400;
}

@media screen and (max-width: 1199px) {
  .Btn-login {
    display: none;
  }
}

/* END: Btn-login */

/* Back-top  */

.Back-top {
  position: fixed;
  right: 16px;
  bottom: 25px;
  outline: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.Back-top__ico {
  max-width: 100%;
  height: auto;
}

.Back-top--visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .Back-top {
      width: 40px;
      height: 40px;
  }
}

/* END: Back-top */

/* Loader */

.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; /* root: .Header--fixed */
}

.Loader__spinner {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
  z-index: 10; /* root: .Loader */
}

.Loader__spinner::before,
.Loader__spinner::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
}

.Loader__spinner:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #e74c3c;
  animation: spin 3s linear infinite;
}

.Loader__spinner:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #f9c922;
  animation: spin 1.5s linear infinite;
}

.Loader__half {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 9; /* root: .Loader */
  transform: translateX(0);
}

.Loader__half--start {
  left: 0;
}

.Loader__half--finish {
  right: 0;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* END: Loader */
