/* Header */

.Header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
}

.Header .Responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-logo {
  padding: 34px 0;
}

.Header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-nav-list-item {
  padding: 10px 15px;
}

.Header-nav-list-item__lnk {
  color: #454545;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.Header-nav-list-item--highlight > .Header-nav-list-item__lnk {
  font-weight: 700;
}

.Header-nav-list-item__lnk::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: var(--color-main);
}

.Header-nav-list-item:not(:last-child)
  > .Header-nav-list-item__lnk:hover::after,
.Header-nav-list-item--highlight > .Header-nav-list-item__lnk::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Header-nav-list-item--jp {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.Header-nav-list-item--jp > a {
  border: 1px solid rgba(69, 69, 69, 0.2);
  border-radius: 4px;
  display: inline-block;
  padding: 5px 15px;
}

.Header-nav-list-item--jp > a:hover {
  color: var(--color-main);
  border-color: var(--color-main);
  transition: all 0.2s linear;
}

/* Hero */

.Hero {
  height: 100vh;
  min-height: 641px;
  overflow: hidden;
  position: relative;
}

.Hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.Hero-bg__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
